#logo
  %h1 ARCADIAN OCTODUCK SHOP
  %img{ src: "http://i90.photobucket.com/albums/k251/netuza/Muju/Works/OctoDuckCROP.jpg", width: 500 }
  %a{href: products_path}
    %h2 ENTER TO SPEND ALL YOUR MONEY
