@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: 100%;
}
h1, h2 {
  text-align: center;
}
#navi {
  text-align: center;
  text-decoration: none;
}
#logo {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
table {
  width: 80%;
  margin: auto;
}
td {
  padding: 10px;
}
th.name {
  width: 15%;
}
th.descript {
  width: 30%;
}
th.image {
  width: 30%;
}
th.price {
  width: 10%;
}
.product {
  width: 80%;
  margin: auto;
}
.product-image {
  float: left;
  padding: 10px;
  width: 50%;
}
.product-info {
  float: right;
  padding: 10px;
  width: 50%;
  margin-top: -270px;
}
