%h3.text-center Categories - click to view products
.row
  .col-xs-6.col-xs-offset-3
    - @categories.each do |category|
      = link_to category.name, category
%br
#navi
  = link_to "Back to main page", root_path
