%h1 All products
%table
  %tr
    %th Name
    %th Description
    %th Image

  - @products.each do |product|
    %tr
      %td= link_to product.name, product
      %td= product.description
      %td= product.image
%br
  = link_to "Back to main page", root_path
